.events {
  margin-top: 70px;

  @include on-tablet {
    margin-top: 88px;
  }

  @include on-desktop {
    margin-top: 200px;
  }

  &__exhibitions {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    @include on-tablet {
      padding-left: 34px;
      padding-right: 34px;
      margin-top: 48px;
    }

    @include on-desktop {
      padding-left: 55px;
      padding-right: 55px;
      margin-top: 56px;
    }
  }

  &__exhibition {
    @include on-desktop {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
      margin: 0;
    }
  }

  &__exhibition--two {
    margin-top: 60px;

    @include on-tablet {
      margin-top: 64px;
    }

    @include on-desktop {
      margin-top: 104px;
    }
  }

  &__exhibition-image-wrapper {
    @include on-desktop {
      grid-column: 1 /8;
    }
  }

  &__exhibition-content {
    @include on-desktop {
      grid-column: 8 /-1;
      padding-left: 60px;
      margin-top: 159px;
    }
  }

  &__title {
    color: #0f0e08;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    margin: 0;

    @include on-tablet {
      text-align: left;
      padding-left: 34px;
      padding-right: 34px;
      font-size: 48px;
    }

    @include on-desktop {
      padding-left: 55px;
      padding-right: 55px;
    }
  }

  &__exhibition-image {
    height: auto;
    width: 100%;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__exhibition-top {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 60px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      margin: 0;
    }
  }

  &__exhibition-name {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #687480;

    margin: 0;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__exhibition-date {
    color: #1a5a4c;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 0;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__exhibition-text-block {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-top: 15px;

    @include on-tablet {
      margin-top: 30px;
    }
  }

  &__exhibition-title {
    color: #0f0e08;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
  }

  &__exhibition-square {
    width: 10px;
    height: 10px;
    background-color: #f14a27;
  }

  &__exhibition-sub-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #4e4e4e;

    margin: 10px 0 0;

    @include on-tablet {
      margin-top: 15px;
      text-align: left;

      padding-right: 240px;
    }

    @include on-desktop {
      padding-right: 0;
    }
  }

  &__lection {
    margin-top: 60px;
    padding: 0;

    @include on-tablet {
      padding-right: 34px;
      margin-top: 112px;
      padding-left: 34px;
    }

    @include on-desktop {
      padding: 0;
      margin-top: 104px;
    }
  }

  &__lection-image {
    width: 100%;
    height: auto;
    position: relative;

    @include on-desktop {
      max-height: 550px;
    }
  }

  &__lection-text-block {
    background-color: #fff;

    box-shadow: 0 2px 0 0 #1a5a4c40;

    margin-left: 20px;
    margin-right: 20px;

    transform: translateY(-45%);

    @include on-tablet {
      margin-left: 65px;
      margin-right: 65px;
    }

    @include on-desktop {
      margin-left: 355px;
      margin-right: 355px;
    }
  }

  &__lection-top {
    display: flex;
    align-items: center;
    gap: 25px;

    padding-left: 21px;

    @include on-tablet {
      padding-left: 55px;
      padding-right: 55px;
      justify-content: space-between;
    }

    @include on-desktop {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &__lection-name {
    color: #687480;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    margin: 0;
    padding-top: 24px;

    @include on-tablet {
      font-size: 14px;
      padding-top: 45px;
    }
  }

  &__lection-date {
    color: #1a5a4c;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 0;
    padding-top: 20px;

    @include on-tablet {
      font-size: 14px;
      padding-top: 45px;
    }
  }

  &__lection-title {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    @include on-tablet {
      font-size: 36px;
      text-align: left;
      padding: 16px 55px 50px;
    }

    @include on-desktop {
      font-size: 36px;
      text-align: left;

      @include on-desktop {
        padding: 16px 100px 50px ;
      }
    }
  }
}
