.menu {
  height: 399px;
  box-sizing: border-box;
  background-color: #1a5a4c;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 225px;
  }

  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 233px;
  }

  &__icon {
    padding-top: 33px;
    padding-left: 26px;

    @include on-tablet {
      padding-top: 45px;
      padding-left: 40px;
    }

    @include on-desktop {
      padding-top: 46px;
      padding-left: 61px;
    }
  }

  &__top {
    display: flex;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: 2 / 4;
    }
  }

  &__link {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 27px;
    margin-left: 33px;
    gap: 28px;

    @include on-tablet {
      padding-top: 39px;
      margin-left: 44px;
      gap: 20px;
    }

    @include on-desktop {
      padding-top: 40px;
      margin-left: 108px;
      gap: 31px;
    }
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-desktop {
      gap: 30px;
    }
  }

  &__line {
    height: 1px;
    width: 280px;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 50%;
    position: relative;

    @include on-tablet {
      position: relative;
      left: 280%;
      width: 1px;
      background-color: #fff;
      opacity: 0.5;

      height: 145px;
      margin-top: 40px;
    }

    @include on-desktop {
      right: 50%;
    }
  }

  &__bottom {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 35px;
    padding-bottom: 27px;

    @include on-tablet {
      grid-column: 4 / -1;
      grid-row: 1;

      display: grid;
      grid-template-columns: 1.5fr 1px 1.5fr;

      margin-top: 40px;
      padding-right: 20px;
      padding-left: 10px;
    }

    @include on-desktop {
      grid-column: 8 / -1;

      padding-right: 155px;
      padding-left: 20px;
    }
  }

  &__schedule-times {
    @include on-tablet {
      grid-column: 1 / 2;
      grid-row: 1;
    }
  }

  &__schedule-info {
    padding-top: 16px;
    
    @include on-tablet {
      grid-column: 3 / 4;
      grid-row: 1;

      padding-top: 40px;
      padding-left: 38px;
    }
  }

  &__schedule-title {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    letter-spacing: 0%;

    margin: 0;
  }

  &__schedule-sub-title-number {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 0;
    padding-top: 20px;
  }

  &__schedule-sub-title-day {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  &__schedule-headline {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 0;
  }

  &__schedule-headline-two {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
