.subscribe {
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url(/src/images/subscribe.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  height: 386px;
  width: 100%;

  @include on-tablet {
    margin-top: 92px;
    padding-left: 154px;
    padding-right: 154px;
    height: 380px;
  }

  @include on-desktop {
    margin-top: 200px;
    padding-left: 355px;
    padding-right: 355px;
    height: 550px;
  }

  &__text-block {
    padding-top: 88px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      padding-top: 82px;
    }

    @include on-desktop {
      padding-top: 163px;
    }
  }

  &__title {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;

    margin: 0;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__sub-title {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    margin: 0;
    padding-top: 20px;

    @include on-tablet {
      padding-top: 16px;
    }
  }

  &__button {
    display: flex;
    margin-top: 50px;
    border: 0 solid #fff;
    background-color: #fff;

    width: 280px;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      width: 374px;
      height: 70px;
      margin-top: 64px;
      justify-content: space-between;
    }

    @include on-desktop {
      width: 470px;
      margin-top: 72px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: none;
    color: #4e4e4e;
    outline: none;
    justify-content: left;
    padding-left: 24px;
    width: 100%;

    &::placeholder {
      color: #687480;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 1000px #fff inset !important;
      -webkit-text-fill-color: #4e4e4e !important;
    }

    @include on-tablet {
      padding-left: 24px;
    }

    @include on-desktop {
      padding-left: 32px;
    }
  }

  &__button-icon {
    background-color: #f14a27;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    border: none;
    outline: none;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      width: 70px;
      height: 70px;
      margin-top: 64px;
      position: relative;
      left: 16px;
    }

    @include on-desktop {
      margin-top: 72px;
      position: relative;
      left: 30px;
    }
  }
}
