.galery {
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @include on-tablet {
    margin-top: 88px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include on-desktop {
    margin-top: 200px;
    padding-left: 55px;
    padding-right: 55px;
  }

  &__images {
    @include on-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
    }
  }

  &__title {
    color: #0f0e08;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    margin: 0;

    @include on-tablet {
      text-align: left;
    }
  }

  &__image-wrapper {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 48px;
    }

    @include on-desktop {
      margin-top: 56px;
      grid-column: span 4;
      width: 100%;
    }
  }

  &__image-one {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;

    @include on-tablet {
      height: 100%;
      object-fit: cover;
    }

    @include on-desktop {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-two {
    @include on-tablet {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-three {
    @include on-desktop {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-four {
    @include on-desktop {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-five {
    @include on-desktop {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__eclipses {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__eclipse {
    width: 9px;
    height: 9px;
    background-color: #e0e0e0;
    color: #e0e0e0;
    padding: 0;

    border-radius: 50%;
    border: none;

    &:active {
      background-color: #1a5a4c;
      color: #1a5a4c;
    }
  }

  &__image-wrapper-two {
    display: none;

    @include on-tablet {
      display: block;
      margin-top: 48px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__image-wrapper-three {
    display: none;

    @include on-desktop {
      display: block;

      grid-column: 5 / -1;
      margin-top: 56px;
    }
  }

  &__image-wrapper-four {
    display: none;

    @include on-desktop {
      display: block;

      grid-column: 1 / 9;
    }
  }

  &__image-wrapper-five {
    display: none;

    @include on-desktop {
      display: block;

      grid-column: 9 / -1;
    }
  }
}
